/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    background: lightpink;
    padding: 2fr;
    grid-column: 1 / 4;
}

.left {
    background: lightblue;
    grid-column: 1/2;
}

/* ul {
    display: flex;
    justify-content: space-evenly;
} */

main {
    background: coral;
    grid-column: 2/3;
}

.right {
    background: yellow;
    grid-column: 3/4;
}

/* aside {
    background: yellow;

} */

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}
.left, .right{
    padding: ;
}