* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    background: dimgray;
    color: white;
    grid-column: span 4;
}

h1 {
    padding: 1rem 0rem 5rem 1rem;
}

nav {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background: black;
    list-style-type: none;
}

a {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

main {
    grid-column: span 3;
    background: lightgray;
    padding: 2rem;
    font-size: large;
}

aside {
    background: ivory;
    padding: 2rem 8rem 0rem 2rem;
    margin: 2rem;
}

footer {
    background: dimgray;
    grid-column: span 4;
    padding: 2rem 0 8rem 0;
    display: flex;
    justify-content: center;
}

/* footer p {
    justify-content: center;
} */