* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: steelblue;
    --secondary-background: #404040;
    --font-primary: white;
    --font-secondary: black;

}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header,
main,
footer {
    max-width: 840px;
    min-width: 210px;
    margin: 0 auto;
}

header {
    color: var(--font-primary);
}

header span {
    display: block;
    font-size: larger;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background: var(--primary-background);
    text-align: center;
}

nav {
    background: var(--secondary-background);
    margin: 0 auto;
    max-width: 840px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    text-align: center;
    color: var(--font-primary);
    text-decoration: none;
    padding: 1rem;
    border: solid var(--secondary-background) 1px;
}

nav a:hover {
    border: solid white 1px;
    text-decoration: underline;
    color: yellow;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

h1 {
    grid-column: span 4;
    margin: 1rem;
    text-align: center;
}

h2 {
    background: var(--primary-background);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    padding: .5rem;
    font-size: medium;
    color: var(--font-primary);
}

h3 {
    border-bottom: 1px solid var(--font-secondary);
    text-align: center;
}

main img {
    max-width: 250px;
    height: auto;
}

section ul {
    padding: 1rem;
    text-align: justify;
}

footer {
    background: var(--primary-background);
    padding: 1rem;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: var(--font-primary);
}

footer p {
    padding: .25rem;
}

.card {
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 1rem;
    margin: 1rem .2rem;
}

.me {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

div p {
    margin: 1rem;
}

.dev {
    grid-column: 3/4;

}

.right {
    float: right;
    margin: 1rem;
}

.left {
    float: left;
    margin: 1rem;
}