/* large nav */
@media (min-width: 543px) {

    /* p {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }
 */
    h1 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    nav {
        align-items: flex-end;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }

    .res-grid {
        /* grid-template-columns: repeat(3, minmax(1fr, 400px)); */
        grid-template-columns: repeat(3, 1fr);
    }
}