* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    margin: 2rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: .5rem 2%;
}

.form legend {
    display: block;
}