/* large nav */
@media (min-width: 512px) {

    /* p {
        font-size: 2.5rem;
        margin-left: 0;
        text-align: center;
    }
 */
    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }
}