body {
    font-family: "Roboto", sans-serif;
    /* font-weight: 400; */
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    /*rgb(155, 155, 155);*/
    padding: 1rem;
    background: #e6f2ff;
    /* rgb(141, 142, 255); */
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background: white;
}